{% extends 'base.html' %}
{% load static %}

{% block title %}
    评价系统
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">

{% endblock %}

{% block content %}
    <div class=" container  ">
        <div class="loginform center-block ">
            <h3>我的订单</h3>
            {{ error }}

            <table class="table  table-bordered">
                <caption></caption>
                <thead>

                </thead>
                <tbody>
                <tr>
                    <td>订单编号</td>
                    <td>菜品列表</td>
                    <td>总金额</td>
                    <td>商家是否接单</td>
                    <td></td>
                </tr>
                {% if orders %}
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.od_id }} </td>
                            <td>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>菜品名称</th>
                                        <th>菜品单价</th>
                                        <th>下单数量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dish in dishes %}
                                        {% if dish.od_id == order.od_id %}
                                            <tr>
                                                <td>{{ dish.dish.dish_name }}</td>
                                                <td>{{ dish.dish.dish_price }}</td>
                                                <td>{{ dish.oder_dish_amount }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td>{{ order.od_money }} </td>
                            <td>
                                {% if order.od_state == 1 %}
                                    订单已完成
                                {% else %}
                                    订单未完成
                                {% endif %}
                            </td>
                            <td>
                                {{ order.od_time }}
                            </td>
                            <td>
                                <form class="form-group" method="post" action="{% url 'cus_comment' %}">
                                    {% csrf_token %}
                                    <input type="hidden" id="comment_order" name="comment_order"
                                           value={{ order.od_id }}>
                                    <button type="submit"> 发表评价</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}