{% extends 'base.html' %}
{% load static %}

{% block title %}
    点餐
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">

{% endblock %}

{% block content %}
    <div class=" container  ">
        <div class="loginform center-block ">
            <h3>菜品管理</h3>
            {{ error }}

            <table class="table">
                <thead>
                <tr>
                    <th>菜品名称</th>
                    <th>菜品单价</th>
                    <th>下单数量</th>
                </tr>
                </thead>
                <tbody>

                {% for dish in dishes %}

                    {% if dish.od_id == comment_order|add:0 %}
                        <tr>
                            <td>{{ dish.dish.dish_name }}</td>
                            <td>{{ dish.dish.dish_price }}</td>
                            <td>{{ dish.oder_dish_amount }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <form class='form-register' action="{% url 'write_comment' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="comment_order" value="{{ comment_order|add:0 }}">
                <div class="form-group">
                    <div class="text-left"><label>评价星级</label></div>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="comment_star" value="5">
                        <label for="star5">5 stars</label>
                        <input type="radio" id="star4" name="comment_star" value="4">
                        <label for="star4">4 stars</label>
                        <input type="radio" id="star3" name="comment_star" value="3">
                        <label for="star3">3 stars</label>
                        <input type="radio" id="star2" name="comment_star" value="2">
                        <label for="star2">2 stars</label>
                        <input type="radio" id="star1" name="comment_star" value="1">
                        <label for="star1">1 star</label>
                    </fieldset>
                </div>

                <div class="form-group">
                    <div class="text-left"><label>评价内容</label></div>
                    <textarea class="form-control" name="comment_content"></textarea>
                </div>

                <button type="submit" class="btn btn-primary pull-middle btn-lg">提交评价</button>
            </form>

        </div>
    </div>

{% endblock %}