{% extends 'base.html' %}
{% load static %}
{% block title %}个人主页{% endblock %}

{% block css %}
<link href="../../static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if user %}
        <h1>用户信息</h1>
        <p><strong>您的用户名:</strong> {{ usr_name }}</p>
        <p><strong>您的手机号:</strong> {{ phone }}</p>
        <p><strong>您的地址:</strong> {{ address }}</p>

        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">修改</button>
        </form>

    {% else %}
        <p>没有用户信息，请检查是否已经登录</p>
    {% endif %}
{% endblock %}
